@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";



// COLOR
$orange :#ffbd3d;
$orenge_hover:#ffbe3dc1;
$white :#ffffff;
$header: #2c2723ac;
$ecreture:#433f39;
$ecreture_srira:#7c7c7c;
$bg_part2:#fffaf3;
$bg_part3:#e4e3e377;


$color: ("orange":$orange ,"orenge_hover":$orenge_hover, "white":$white);
$theme-colors: map-merge($color, $theme-colors);