*{
    padding: 0;
    margin: 0;

}


    header{
        padding: 10px 8vw 1px 8vw;
        position: fixed;
        z-index: 997;
        width: 100vw;
        background-color: $header;
        
        
            div:first-child{
                justify-content: space-between;
                display: flex;
                

                div:first-child{
                    gap: 25px;
                    color: white;
                    font-size: medium;
                    font-weight: 600;
                    i{
                        color: $orange;
                    }
                }
                .button{
                        background-color: $orange;
                        border-radius: 50px;
                        border: none;
                        padding: 0.5% 3%;
                        color: white;
                        letter-spacing: 1px;
                        font-weight: 600;
                }
                .button:hover{
                    background-color:$orenge_hover ;
                }
            }
            div:last-child{
                justify-content: space-between;
                display: flex;
                gap: 5vw;
                .a{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    font-family: 'Satisfy', cursive;
                    font-size: xx-large;
                    color: rgb(255, 255, 255);
                    font-weight: 600;
                }
                ul{
                    gap: 20px;
                }
                
                .nav-link {
                    color: white !important; 
                    font-size: medium;
                    font-weight: 600;
                    
                }
                .nav-item a:hover{
                    color: $orange !important;
                }
            }
}










// media
@media (max-width:550px){
    body{
        header{
            padding: 10px 5vw 1px 5vw;
            div:first-child{
                p{
                    display: none;
                }
            }
            
        }
        main{
        .carousel-caption h5 {
            font-size: 30px; // smaller for mobile
        }
        .carousel-caption p {
            font-size: 14px;
            width: 90%;
        }
        .carousel-caption .button button {
            padding: 8px 15px;
            font-size: 14px;
        }
        }
        }
        

}
