main{

    .carousel-item {
    position: relative;
    height: 100vh;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    }

    .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    text-align: center;
    width: 80%;
    color: white;

    h5 {
        font-size: 55px;
        font-family: 'Satisfy', cursive;
        font-weight: 600;
        span {
        color: $orange;
        }
    }

    p {
        padding-top: 5%;
        font-size: large;
        width: 70%;
        transform: translate(23%, -35%);
        text-align: justify;
    }

    .button {
        display: flex;
        justify-content: center;
        gap: 15px;

        button {
            background-color: transparent;
            padding: 10px 40px;
            font-size: 16px;
            font-weight: 600;
            border: solid 2px $orange;
            color: white;
            border-radius: 50px;
            cursor: pointer;
            &:hover {
                background-color: darken($orange, 10%);
        }
        }
    }
}
}

// PART_2

    .centent_image {
        padding: 5% 7vw 150px 7vw;
        display: flex;
        justify-content: space-between;
        background-color: $bg_part2;
        height: 80vh;
    }
    .imgg{
        width: 40vw;
        height: 60vh;
    }
    .div_contant {
        
        display: flex;
        gap: 3%;
        flex-direction: column;
        justify-content: start;
        width: 60vw;
        color: $ecreture;
        padding-left: 2%;
    }

    .div_contant h1 {
        font-family: Arial, sans-serif;
        color: $ecreture;
        font-size: 1.8vw;
        font-weight: bolder;
        font-family: 'Satisfy', cursive;
    }

    .div_contant span p {
        font-style: italic;
        color: #8f8f8f;
        font-size: 1.1vw;
    }

    .div_contant ul {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 1px;
        padding-left: 0;
        list-style: none;
        font-size: large;
        font-size: 1.2vw;
    }

    .div_contant p {
        color: var(--text-light);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        letter-spacing: 0, 5px;
        font-size: 1.2vw;
    }


    .div_contant ul svg {
        color: $orange;
    }

// PAERT 3
.part_3{
    

.part_3_one{
    padding: 8vh 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p{
        color: $orange;
        border-radius: 50px;
        border: none;
        color: $orange;
        background-color: $bg_part2;
        padding: 10px 30px;
        display: inline;
        font-size:medium;
        font-weight: bold;
    }
    h1{
        font-family: 'Satisfy';
        font-weight: 700;
        color: $ecreture;
        span{
            color: $orange;
        }
    }
}
.Part_3_two{
padding: 8vh 7vw;
    padding-top: 10vh;
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    .zone{
        padding: 2% 3%;
        background-color: lighten($bg_part3, 5%);
        p:first-child{
            font-size: xx-large;
            color: $orange;
            font-weight: bold;
        }
        h1{
            font-family: 'Satisfy';
            font-weight: bold;
            font-size: xx-large;
            color: $ecreture;
        }
        p:last-child{
            color: lighten($ecreture, 5%);
            font-size: medium;
            padding-top: 3%;
        }
    }

    .zone:hover{
        background-color: $orange;
        h1{
            color: white;
        }
        p{
            color: white;
        }
    }
    
}

// MENU 

#menu {
    
    .section-title {
        text-align: center;

        h2 {
        font-size: 32px;
        font-weight: 700;
        color: $ecreture;
        }

        p {
        font-size: 24px;
        span {
            color: $orange;
        }
        }
    }

    input[type="radio"] {
        display: none;
}



.menu-filters {
        display:flex;
        display: flex;
        justify-content: center;
        gap: 25px;
        padding: 8vh;

    li { 
        display:flex; 
    }
    label {
        cursor:pointer;
        font-family: 'Satisfy';
        font-weight:200;
        font-size: medium;
        color: $ecreture_srira;
    }
    label:hover {
    color: $orange;
}
    
}



    
    .menu-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6vh;    
    }

    
    .menu-item {
        display: flex;
        align-items: center;
        gap: 2vw;
        img {
        width: 100px;
        height: 100px;

        object-fit: cover;
        border-radius: 50px;
        border: 8px solid $bg_part3;
        }

        .item-info {
        h4 {
            font-size: 18px;
            font-weight: 700;
            color: $ecreture;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .point {
            flex: 1;
            margin: 0 10px;
            color: #dadada;
            font-size: 14px;
            
            }

            .price {
            color: #cda45e;
            font-weight: 700;
            }
        }

        p {
            margin: 0;
            font-style: italic;
            color: #777;
            font-size: 14px;
        }
        }
    }


    #filter-all:checked ~ .menu-items .menu-item {
        display: flex;
    }

    #filter-starters:checked ~ .menu-items .menu-item:not(.starters) {
        display: none;
    }

    #filter-salads:checked ~ .menu-items .menu-item:not(.salads) {
        display: none;
    }

    #filter-specialty:checked ~ .menu-items .menu-item:not(.specialty) {
        display: none;
    }
    }
    
}

    // SPECIAL
        .special{
            display: flex;
            .list_txt {
                display: flex;
                justify-content: space-between;
                img{
                width: 20%;
                }
                .text_special{
                    color: #dadada;
                    width: 70%;
                    
                h1 {
                font-family: 'Satisfy', cursive;
                font-weight: bold;
                color: $ecreture;
                font-size: 1.5rem;
                margin-bottom: 1rem;
                }
                p {
                    font-size: 1vw;
                    color: $ecreture_srira;
                }
            }
            }

                input[type="radio"] {
                display: none;
        }

            ul li {
                
                margin-right: 10vw;
                width: max-content;
                label{
                    cursor: pointer;
                    font-weight: 800;
                    color: $ecreture;
                    padding: 1vw 1vw;
                    &:active, &:focus, &:hover{          
                        color: $orange;
                        padding-right: 7vw;
                        border-right: 3px solid $orange;
                    }
                }
            }
            #filter-one:checked ~ .text_special .text_special {
                display: flex;
            }

            #filter-starters:checked ~ .text_special .text_special:not(.two) {
                display: none;
            }

            #filter-salads:checked ~ .text_special .text_special:not(.threy) {
                display: none;
            }

            #filter-specialty:checked ~ .text_special .text_special:not(.fore) {
                display: none;
            }

        }
        // EVENET
        .events {
        position: relative;
        padding: 80px 0;
        background: $filter;

        .event-bg {
            background: url("../../../../public/images/events-bg.jpg") center center;
            background-size: cover;
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.2;
        }

        .carousel-content {
            position: relative;
            padding: 40px 0;
            z-index: 2;

            .content {
            color: white;

            h3 {
                font-family: 'Satisfy', cursive;
                font-size: 38px;
                font-weight: 600;
            }

            h4 {
                width: fit-content;
                border-bottom: solid 2px $orange;
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            ul {
                padding: 0;
                list-style: none;

                li {
                padding: 8px 0;
                i {
                    color: $orange;
                    margin-right: 8px;
                }
                }
            }
            }
        }

        .carousel-indicators {
            bottom: -40px;

            button {
            width: 12px;
            height: 12px;
            background-color: $orange;
            border-radius: 50%;
            }
        }
        }
    // BOOK A TABLE
    .ecrture{
        padding: 8vh 7vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p{
        color: $orange;
        border-radius: 50px;
        border: none;
        color: $orange;
        background-color: $bg_part2;
        padding: 10px 30px;
        display: inline;
        font-size:medium;
        font-weight: bold;
    }
    h1{
        font-family: 'Satisfy';
        font-weight: 700;
        color: $ecreture;
        span{
            color: $orange;
        }
    }
    }


    .reservation-section {
    gap: 40px;
    background-color: $bg_part3;
    margin: 5vw;
    .p{
        padding: 5vw 1vw;
    }
    img {
        object-fit: cover;
    }

    .reservation-form {
        width: 100%;
        input,
        textarea {
            width: 48%;
            padding: 12px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

        textarea {
            width: 100%;
            height: 120px;
            resize: none;
        }

        .book-btn {
            margin-top: 20px;
            padding: 15px 45px;
            background-color: $orange;
            border: none;
            color: white;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 25vw;
        }

        .book-btn:hover {
            background-color: $orange;
        }
    }
}


    


@media (max-width: 770px) {
    main {
        .carousel-caption {
        top: 35%;               
        transform: translate(-50%, -35%);
        h5 {
            font-size: 2vw;         
            line-height: 28px;
            transform: translate(0%, 100%);
            padding-bottom: 0px;
        }

        p {
            padding-top: 20px;
            font-size: 17px !important;
            transform: translate(9%, 20%);
            text-align: justify;
            width: 40%;
            padding-bottom: 20px;
            width: 80vw;

        }

        .button {
            flex-direction: column;  
            gap: 10px;
            

            button {
                width: 50%;
                padding: 8px 0;
                font-size: 14px;
                transform: translate(10%, 100%);
            }
        }
        }
    }
    // @media (max-width: 991px) {
        // grid-template-columns: repeat(2, 1fr);
        // }

        // @media (max-width: 600px) {
        // grid-template-columns: 1fr;
        // }
        
@media (max-width: 770px) {
    .reservation-section {
        flex-direction: column;
        padding: 20px;

        img {
            width: 100%;
        }

        .reservation-form {
            input {
                width: 100%;
            }
        }
    }
}
    }

    

