main{

    .carousel-item {
    position: relative;
    height: 100vh;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    }

    .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    text-align: center;
    width: 80%;
    color: white;

    h5 {
        font-size: 55px;
        font-family: 'Satisfy', cursive;
        font-weight: 600;
        span {
        color: $orange;
        }
    }

    p {
        padding-top: 5%;
        font-size: large;
        width: 70%;
        transform: translate(23%, -35%);
        text-align: justify;
    }

    .button {
        display: flex;
        justify-content: center;
        gap: 15px;

        button {
            background-color: transparent;
            padding: 10px 40px;
            font-size: 16px;
            font-weight: 600;
            border: solid 2px $orange;
            color: white;
            border-radius: 50px;
            cursor: pointer;
            &:hover {
                background-color: darken($orange, 10%);
        }
        }
    }
}
}

@media (max-width: 450px) {
    main {
        .carousel-caption {
        top: 35%;               
        transform: translate(-50%, -35%);

        h5 {
            font-size: 2px;         
            line-height: 28px;
            transform: translate(0%, 200%);
            padding-bottom: 0;
        }

        p {
            font-size: 17px !important;
            transform: translate(9%, 20%);
            text-align: justify;
            width: 40%;
            padding-bottom: 20px;

        }

        .button {
            flex-direction: column;  
            gap: 10px;
            

            button {
                width: 50%;
                padding: 8px 0;
                font-size: 14px;
                transform: translate(10%, 100%);
            }
        }
        }
    }
    }

